@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_layout_display.cshtml";
    
}

<h1 style="text-align:center;margin-top:30px">GIỚI THIỆU CHUNG</h1>
<div style="margin: 50px 100px 0 100px;">
    <p>
        Với tiêu chí phục vụ khách hàng cam kết về chất lượng sản phẩm,
        luôn cập nhật và sáng tạo cho ra đời những thiết kế bắt kịp xu hướng cùng với việc nâng cao chất lượng dịch vụ
        ngày càng chuyên nghiệp, Mon Jewelry đã không ngừng lớn mạnh, tạo uy tín trên thị trường
        và gây dựng được niềm tin vững chắc trong lòng khách hàng.
    </p>
    <p>
        Nét tinh xảo lấp lánh của các sản phẩm được chế tác tại Mon Jewelry dưới bàn tay của người thợ kim hoàn Việt Nam
        tài ba kết hợp với dây chuyền sản xuất theo công nghệ tiên tiến hiện đại đã tạo nên các sản phẩm trang sức
        chất lượng vượt trội cùng kiểu dáng thời trang, làm thăng hoa nét duyên dáng, vẻ quý phái, sự lịch lãm cho quý khách hàng,
        dù trong bất cứ hoàn cảnh nào.
    </p>
    <p><b>Các dòng sản phẩm chính của cửa hàng luôn tạo được dấu ấn đối với đông đảo Quý khách hàng như:</b> Nhẫn cưới, Nhẫn nam, Nhẫn nữ, Charm, Kiềng,...</p>
    <p>Không chỉ đem đến sự hài lòng cho Quý khách hàng khó tính nhất, Mon Jewelry còn mang đến những chính sách hậu mãi tốt nhất. </p>
    <p>Luôn tâm niệm, một thương hiệu tốt không chỉ là tài sản vô giá của doanh nghiệp mà còn là tài sản của quốc gia, 
    Mon Jewelry đã và đang nỗ lực không ngừng trong hành trình khẳng định vị thế một thương hiệu quốc gia giàu khát vọng 
    chinh phục thị trường nội địa, vươn xa ra thị trường khu vực và quốc tế.</p>
    <p><b>MON JEWELRY</b></p>
    <p>Địa chỉ: 678, Nguyễn Đình Chiểu, phường 3, quận 3, TP.HCM</p>
    <p>Tel: 0909-456-654</p>
    <p>Email: monjewelry@gmail.com</p>
</div>
